body{
    background-color: #fff;
    color: #000;
}
.teachers-container{
    margin-top: -2%;
}
.teachers-div{
    padding-top: 2%;
}

.teachers-header-row {
    display: flex;
    align-items: center;
    justify-content: space-between; /* To align the button to the right */
    margin-bottom: 20px;
  }
  
  .add-teachers-button {
    background-color: #007bff; /* Blue background color */
    color: #fff;
    border: none;
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    margin-right: 5%;
  }
  
  .add-teachers-button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  
  /* ... (Rest of your styles) */
  