.teachers-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    padding-right: 50px;
    gap: 10px; /* Adjust the gap to control spacing between items */
    color: #000;
  }
  .logout-icon{
    padding-left: 5px;
    padding-top: 2px;
  }
  .notification-icon-orange {
    font-size: 20px;
    margin-right: 10px; /* Reduce the margin-right to align with the text */
    cursor: pointer;
  }
  
  .logout-button {
    display: flex; /* Use flex display for centering */
    align-items: center; /* Center vertically */
    font-size: 16px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    text-decoration: underline;
  }
  